src/main/mule/airindiaflights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="1c310b8a-00ef-4672-851a-5d57f8a7ed23" >
		<wsc:connection wsdlLocation=" http://airindia-services.us-e2.cloudhub.io/airindia?wsdl" service="TicketServiceService" port="TicketServicePort" address="http://airindia-services.us-e2.cloudhub.io/airindia" />
	</wsc:config>
	<flow name="airindiaflightsFlow" doc:id="9eaec6af-ffe6-4497-8968-8a1079aef6c7" >
		<logger level="INFO" doc:name="Logger" doc:id="9d415681-d6da-4fdf-9133-39bc7d88bf76" message="responce from the system is.....................#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="31d64513-0aba-420a-8d39-9c88506c2dde" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
	payload
	

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1d657f5d-1aa8-4688-86fc-82836abce27f" message="request send to airindia Airlines........................#[payload]"/>
		<wsc:consume doc:name="Consume" doc:id="36e405ab-251e-4694-9e51-163306ce7157" config-ref="Web_Service_Consumer_Config" operation="getFlights"/>
		<logger level="INFO" doc:name="Logger" doc:id="29e7685c-aed5-4bf8-b7c0-9c92ea573dee" message="rersponce from airindia Airlines..................#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="7117425d-9d32-4cb5-9b1e-d1b9b4ec7875" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0f17cb85-3e4b-4e9a-a614-ea7944123b21" message="final responce in db............."/>
	</flow>
</mule>
